<header>

    <div class="box">

        <div class="img-box">
            <img src="assets/img/LogoMakr-8H5K5L.png">
        </div>



            <div class="addresse-box">

                    <!-- Here comes the addresse Variable -->
            <p>your adresse,</p>
            <p style="margin-left: 5px; margin-right: 5px;">Zipcode</p>
            <p>city</p>
            </div>
        


        <div class="settings-box">


            

                <button mat-icon-button [matMenuTriggerFor]="language">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #language="matMenu">
                    <button mat-menu-item>
                        <mat-icon>Settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
     





                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
    




        </div>



    </div>



</header>