header {
    background-color: #ff9500;
    height: 65px;
    z-index: 99999;
}

.box {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.img-box {
    display: flex;
    justify-content: center;

    img {
  
        object-fit: contain;
    }
}
.addrese-box__border{
    min-width: 60%;
    display: flex;
    justify-content: center;

}
.addresse-box {
    display: flex;
    border-bottom: 1px solid #ffff;
    color: white;
    height: fit-content;
    width: fit-content;

    p{
        font-size: 1rem;

    }

}
