.box{
    height: 100%;

}
.description{
    position: relative;
}
.box-card{
    height: 100%;
    margin-left: 5%;
    width: 60%;
    margin-top:5px
}

.menu-img{
  width: 100%;
  height: 10%;
  object-fit: cover;

}

.restaurant-card{
    margin-top:20px;
    margin-bottom: 20px;
}

.spacing{
    margin-top: 10px;
    margin:10px
}

.price{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.restaurant-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.add-basket{
    position: absolute;
    right: 0;
    top: 0;
}