<div class="box">
    <mat-form-field style="width: 30%;" class="example-full-width width" appearance="fill">
        <mat-label>Restaurants and dishes</mat-label>
        <input matInput >
    </mat-form-field>
        <div class="box-card">

    <mat-card class="restaurant-card" *ngFor="let data of allArrays.restaurants" routerLink="menu">
        <img src ="{{data.img}}">
        <div class="descriptions">
            <h2>{{data.name}}</h2>
            <p>{{data.description}}</p>
            <div class="infos">
                <div class="icon-class"> <mat-icon>
                    schedule 
                </mat-icon>
                <span>
                    {{data.deliveryTime}}
                </span>
               </div>

               <div class="icon-class"> <mat-icon>
                pedal_bike
            </mat-icon>
            <span>
                {{data.minimumorderValue}}
            </span>
           </div>
           <div class="icon-class"> <mat-icon>
                shopping_basket
        </mat-icon>
        <span>
            {{data.transportationCosts}}
        </span>
       </div>

 
            </div>
        </div>

    </mat-card>
</div></div>